<!--pt:{{ page.title }} ip:{{ include.parent }} pp:{{ page.parent }}-->
{% if include.pages %}
{% assign sorted_pages = include.pages | sort: 'title'  %}

{% for p in sorted_pages %}
{% if p.parent == include.parent and p.navigation != false and p.title  %}
<a class="{% if p.url == (page.url | remove: '/') %}active{% endif %} sidebar-nav-item" href="{{ site.baseurl }}{{ p.url }}#content"> {{ include.prefix }}{{ p.title }}</a>
{% include navigation_item.html parent = p.title prefix= "-  " pages = sorted_pages%}
{% endif %}
{% endfor %}
{% endif %}

